server {
    listen {{ nginx_container_http_port }};
    server_name {{ domain | default('_') }};


    root {{ nginx_static_container_path }};
    index index.html index.htm;


location / {
    try_files $uri $uri/ =404;
    }
}


{% if use_https | bool %}
server {
    listen {{ nginx_container_https_port }} ssl;
    server_name {{ domain | default('_') }};


    ssl_certificate {{ ssl_cert_path }};
    ssl_certificate_key {{ ssl_key_path }};


    root {{ nginx_static_container_path }};
    index index.html index.htm;


location / {
    try_files $uri $uri/ =404;
    }
}
{% endif %}