- name: Generate self-signed key and cert (RSA 2048)
  command: >
    openssl req -x509 -nodes -days 365 -newkey rsa:2048
    -keyout {{ ssl_key_path }} -out {{ ssl_cert_path }}
    -subj "/C={{ ssl_country }}/ST={{ ssl_state }}/L={{ ssl_locality }}/O={{ ssl_organization }}/CN={{ ssl_common_name }}"
  args:
    creates: "{{ ssl_cert_path }}"


- name: set permissions for ssl files
  file:
    path: "{{ item }}"
    owner: root
    group: root
    mode: '0600'
  loop:
    - "{{ ssl_cert_path }}"
    - "{{ ssl_key_path }}"