- name: Install apt packages required for docker
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg-agent
      - software-properties-common
      - python3-pip
    state: present
    update_cache: yes


- name: Install docker (package docker.io)
  apt:
    name: docker.io
    state: present


- name: Ensure docker service is started
  service:
    name: docker
    state: started
    enabled: yes


- name: Install python docker module via pip
  pip:
    name:
      - docker
    executable: pip3